<div>
  <div class="settings-form">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <div class="user-detail">{{user.firstName}}</div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <div class="user-detail">{{user.lastName}}</div>
      </div>
      <div class="form-group">
        <label>Username</label>
        <div class="user-detail">{{user.username}}</div>
      </div>
      <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" formControlName="oldPassword" class="form-control" required minlength="8" />
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" class="form-control" required minlength="8" />
      </div>
      <div class="login-bottom">
        <p class="error-txt">{{error}}</p>
        <button *ngIf="!loading; else loadingBtn">Update</button>
      </div>
    </form>
  </div>
</div>

<ng-template #loadingBtn>
  <button disabled>Loading</button>
</ng-template>
